@model StoreApp
@{
    ViewData["Title"] = Model.Name;
}

<img src="@Model.BackgroundImageUrl" style="position:fixed;top:0;left:50%;transform:translateX(-50%);z-index:-1;" />

<div class="row">
    <div class="col-md-6">
        <img src="@Model.HeaderImage" class="img-fluid" />
        <div class="display-4 small-caps" display-for="Name"></div>
    </div>
    <div class="col-md-6">
        <div style="font-size:2em;">
            <partial name="_AppPrice" model="Model" />
        </div>
        <div style="font-size:1.5rem;">
            <partial name="_AppReleaseDate" model="Model" />
        </div>
        <div display-for="ShortDescription"></div>
        <div style="font-size:16px;">
            @foreach (string item in Model.Genres) {
                <span class="badge badge-secondary">@item</span>
            }
        </div>
        <div style="font-size:16px;">
            @foreach (string item in Model.Categories) {
                <span class="badge badge-secondary">@item</span>
            }
        </div>
    </div>
</div>

<hr />

<div>
    @ViewUtilities.FormatHtml(Model.DetailedDescription)
    @*@Html.Raw(Model.DetailedDescription)*@
</div>